// Color Palette
$dark: #1c1c1c;
$veryDark: #101010;
$light: #cccccc;
$lighter: #eeeeee;
$veryLight: #ffffff;
$gray: #2a2a2a;
$lightGray: #2f2f2f;
$veryLightGray: #555555;

// Navigation Variables
$navigationHeight: 40px;